@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 40% 90%;
    --foreground: 202 18% 26%;
    --card: 60 93% 92%;
    --card-foreground: 202 18% 26%;
    --popover: 60 56% 91%;
    --popover-foreground: 202 18% 26%;
    --primary: 202 18% 26%;
    --primary-foreground: 75 67% 98%;
    --secondary: 60 50% 95%;
    --secondary-foreground: 202 18% 26%;
    --muted: 60 50% 95%;
    --muted-foreground: 202 10% 45%;
    --accent: 60 50% 95%;
    --accent-foreground: 202 18% 26%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 85%;
    --input: 60 20% 85%;
    --ring: 202 18% 26%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 202 18% 10%;
    --foreground: 60 56% 91%;
    --card: 202 18% 15%;
    --card-foreground: 60 56% 91%;
    --popover: 202 18% 15%;
    --popover-foreground: 60 56% 91%;
    --primary: 60 56% 91%;
    --primary-foreground: 202 18% 10%;
    --secondary: 202 18% 20%;
    --secondary-foreground: 60 56% 91%;
    --muted: 202 18% 20%;
    --muted-foreground: 60 50% 70%;
    --accent: 202 18% 20%;
    --accent-foreground: 60 56% 91%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 202 18% 25%;
    --input: 202 18% 25%;
    --ring: 60 56% 91%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .typewriter-textarea {
    caret-color: hsl(var(--foreground));
    caret-shape: block;
  }
  .lined-paper-wrapper.lined::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2.5rem;
    width: 1px;
    background-color: hsl(var(--destructive) / 0.4);
    z-index: 1;
  }

  .lined-paper {
    background-image: linear-gradient(to bottom, transparent calc(100% - 1px), hsl(var(--border)) calc(100% - 1px));
    background-size: 100% 2.5rem;
    line-height: 2.5rem !important;
    padding-left: 3.5rem !important;
    position: relative;
    z-index: 0;
  }
}